body {
		background-image: url("ob\ bg.jpg");
		font-family:"Josefin Sans", sans-serif;
		color:#422309;
	}
#contact,#sched {
    border: 1px solid grey;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
}